body{
    font-family: "Montserrat";
    text-align: center;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: 700;
}

p{
    color: rgb(88, 88, 88);
}

/* Headings */
.Big-heading{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* container */
.container-fluid{
    padding: 7% 15%;
}

/* section */

.colored-section{
    background-color: #3AB0FF;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

#title{
    text-align: left;
    height: 750px;
}

/* Nav bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
    font-weight: 300;
}

.nav-link:hover{
    color: #fff;
}

.apple-botton{
    margin: 5% 3% 5% 0;
}

/* Title section */
#title .container-fluid{
    padding: 3% 15% 7%;
}

/*iPhone img*/
.iphone-img{
    position: absolute;
    width: 20%;
    right: 20%;
    transform: rotate(20deg);
}

/*Features*/
#features{
    position: relative;
}

/* .feature-title{
    font-size: 3rem;
} */

.feature-box{
    padding: 4.5%;
}

.icon{
    color: #70bef3;
    margin-bottom: 10px;
}

.icon:hover{
    color: #3AB0FF;
}

/* Testimonials */

#testimonials{
    background-color: #70bef3;
    color: #fff;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #70bef3;
    padding-bottom: 3%;
}

.press-logos{
    margin: 20px 20px 50px;
    width: 15%;
}

/* pricing */
/* 
#pricing{
    padding: 100px;
} */

.price-text{
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

/* footer */

.social-icon{
    margin: 20px 10px;
}

/* @media Breaks */

@media screen and (max-width:1150px) {
    body{
        font-size: 1rem;
    }
    #title{
        text-align: center;
    }

    .iphone-img{
        width: 18%;
        position: absolute;
        right: 22%;
        transform: rotate(0);
    }

    .testimonial-text {
        font-size:2.5rem;
        line-height: 1.5;
    }

    .big-heading {
        font-family: "Montserrat";
        font-size: 3rem;
        line-height: 1.5;
        font-weight: 900;
        text-align: left;
    }
    
    .section-heading {
        font-size: 2.5rem;
        line-height: 1.5;
    }
}

@media screen and (max-width:1011px) {
    .title-image {
      width:25%;
      position:absolute;
      right:22%;
    }
  
    .big-heading {
      font-family: "Montserrat";
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 900;
      text-align: center;
    }
  
   .col-lg-6 {
     text-align:center;
   }
  
}

@media screen and (max-width:991px) {
    .title-image {
      width:40%;
      position:relative;
      right:0%;
      transform: rotate(0);
    }
}
  
  